@model IEnumerable<IamtuseTechMakeEasyWeb.Entities.CategoryItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
     <partial name="_CreateButtonPartial" model="@ViewBag.CategoryId" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeItemReleased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTimeItemReleased)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <partial name="_RUDButtonPartial" model="@item.Id" />
                    @if (item.ContentId == 0)
                    {
                        <a asp-action="Create" asp-controller="Content" asp-route-categoryItemId="@item.Id" asp-route-categoryId="@item.CategoryId" class="btn btn-outline-secondary btn-sm">Add Content</a>
                    }
                    else
                    {
                        <a asp-action="Edit" asp-controller="Content" asp-route-categoryItemId="@item.Id" asp-route-categoryId="@item.CategoryId" class="btn btn-outline-secondary btn-sm">Edit Content</a>
                    }
                </td>


            </tr>
        }
    </tbody>
</table>
